html, body {
  margin: 0;
  padding: 0;
}
/* This is where chart size is determined */
#chart-container {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
}

#container {
  background-color: white;
    max-width: 1140px;
    margin: 0 auto;
    padding: 64px 32px;
}

#title {
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
 background-color: black;

}

.days {
 /* background-color: red; */
 width: 100%;
 display: flex;
 flex-direction: row;
}

.dayColumn {
  border-radius: 5px;
  background-color: #FCF4D9;
  height: 100%;
  width: 14%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.dayColumn:hover {
  border-radius: 5px;
  background-color: white;
  color: black;
  height: 100%;
  width: 14%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.samplefasted {
  /* background-color: orange; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.sampleprelunch {
  /* background-color: orange; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.samplepostlunch {
  /* background-color: orange; */
  /* box-sizing: border-box; */
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.samplebedtime {
  /* background-color: orange; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
}

.myChart canvas {
  height: 50%;
}

.description {
  font-family: 'Oxygen', sans-serif;
  color: #f7e3a1;
  /* background-color: purple; */
  text-align: center;
  margin-bottom: 20px;
}

.description:hover {
  color: black;
}



.insideNO {
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 83px;
  left: 40px;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Oxygen', sans-serif;
  line-height: 17px;
}

.insideNO span {
  font-size: 9px;
  font-family: 'Oxygen', sans-serif;

}


.refdescriptionSmall {
  font-family: 'Oxygen', sans-serif;
  /* background-color: purple; */
  /* text-align: center; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 10px;
  width: 100%;
  margin-top: 0px;
  position: relative;
}


.refslots {
    /* background-color: green; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 150px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.refslots2 {
  /* background-color: green; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.refDayColumn {
  /* background-color: blue; */
  height: 100%;
  width: 14%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.refdescription {
  padding-top: 50%;
  font-family: 'Oxygen', sans-serif;
  /* background-color: purple; */
  /* text-align: center; */
  margin-bottom: 20px;
}

.datebox {
  background: orange;
  height: 51px;
  padding-top: 44px;
  text-align: center;
}
